extends layout

block content
  .container-fluid.d-flex.flex-column.align-items-center.min-vh-100.text-center.justify-content-center.gap-3
      h2 Become an admin
      if user && user.membership !== "non-member" 
        form.d-flex.flex-column.gap-3.w-25(method="POST")
          .form-group
            label(for="admin-password") admin assword
            input.form-control(type="text", id="admin-password", placeholder="Enter admin password", name="admin")
          button.btn.btn-primary(type="submit") Submit 
        if errors
          div
            each error in errors
              p.text-danger #{error.msg}
        if passwordError 
          p.text-danger #{passwordError}
      else 
        p You need to be logged in and a member to become an admin.
        .d-flex.gap-3 
          a(href='/log-in')
            button.btn.btn-primary Login
          a(href='/sign-up')
            button.btn.btn-danger Sign up