extends layout

block content
  .create-post.container-fluid.d-flex.flex-column.align-items-center.min-vh-100.justify-content-center.text-center.gap-3
    h2 Create Post
    if user
      form.d-flex.flex-column.gap-3.w-100.align-items-center(method="POST")
        .form-group.w-100
          label(for="title") Title (optional)
          input.form-control(value=(post ? post.title : ""), type="text", id="title", placeholder="Enter post title", name="title")
        .form-group.w-100
          label(for="text") Text
          textarea.form-control(oninput='countCharacters()', placeholder='Enter post text', id=-'text' name="text", required, cols="30", rows="5") #{post && post.text}
          p.text-secondary#count
        button.btn.btn-primary.w-25(type="submit") Submit
        if errors
          div
            each error in errors
              p.text-danger #{error.msg}
    else 
      p You must be signed in to create posts.
      .d-flex.gap-3
        a(href='/log-in')
          button.btn.btn-primary Login
        a(href='/sign-up')
          button.btn.btn-danger Sign up