extends layout

block content
  .container-fluid.d-flex.flex-column.align-items-center.min-vh-100.text-center.justify-content-center.gap-3
      h2 Join our club
      if user 
        form.form-width.d-flex.flex-column.gap-3(method="POST")
          .form-group
            label(for="secret-password") Secret assword
            input.form-control(type="text", id="secret-password", placeholder="Enter secret password", name="secret")
          button.btn.btn-primary(type="submit") Submit 
        if errors
          div
            each error in errors
              p.text-danger #{error.msg}
        if passwordError 
          p.text-danger #{passwordError}
      else 
        p You need to be logged in to join our club.
        .d-flex.gap-3 
          a(href='/log-in')
            button.btn.btn-primary Login
          a(href='/sign-up')
            button.btn.btn-danger Sign up