doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Members Only
    link(rel="stylesheet", href="/node_modules/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/style.css")
    script(src="/js/script.js" defer) 
  body.min-vh-100
    nav.navbar.navbar-expand-lg.fixed-top.bg-secondary-subtle
      .container-fluid
        a.navbar-brand( href='/') Members Only
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarSupportedContent
          ul.navbar-nav.mb-2.mb-lg-0.align-items-center.w-100.justify-content-between
            .d-flex.reponsive-flex 
              li.nav-item
                a.nav-link(href='/posts') Posts
              li.nav-item
                a.nav-link(href='/profile') Profile
            li.nav-item.d-flex.gap-3.align-items-center.reponsive-flex.spacer 
              if user
                if user.membership !== "non-member"
                  p.text-secondary.m-0 Logged in as #{user.fullName}, #{user.membership}.
                  form(action="/log-out", method="POST")
                    button.btn.btn-primary(type="submit") Log out
                  a.nav-link(href='/create-post') 
                    button.btn.btn-danger Create Post
                else
                  form(action="/log-out", method="POST")
                    button.btn.btn-primary(type="submit") Log out 
                  a.nav-link(href='/join-club') 
                    button.btn.btn-danger Join the club
              else
                a.nav-link(href='/log-in') 
                    button.btn.btn-primary(type="submit") Log in 
            

    block content
    script(src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js")