extends layout

block content
  .container-fluid.d-flex.flex-column.align-items-center.gap-3.posts
    h1 Posts
    if posts
      each post in posts
       .card.w-100.card-color
        .card-body
          h6.card-title #{post.title}
          h4.card-text.text-md #{post.text}
          .d-flex.gap-3.align-items-center.justify-content-end
            p.text-secondary.m-0 Created: #{post.createdAt.toLocaleString('en-GB', {timeZone: 'UTC'})}
            if user
              if user.membership !== "non-member"
                  p.text-secondary.m-0 by 
                    span #{post.user.fullName}
              if user.membership === "admin"
                a(href='/delete-post')
                  button.btn.btn-sm.btn-danger Delete Post
    else 
      p No posts.
        