extends layout 

block content 
  .container-fluid.d-flex.flex-column.align-items-center.min-vh-100.text-center.justify-content-center.gap-3
    if user 
      h3 #{user.fullName}
      p Membership: #{user.membership}
      .d-flex.gap-3   
        form(action="/log-out", method="POST")
          button.btn.btn-primary(type="submit") Log out
        if user.membership === "non-member"
          a(href='/posts')
            button.btn.btn-success Become member
        if user.membership === "member"
          a(href='/become-admin')
            button.btn.btn-danger Become admin 
    else
      p Please sign up or login to access your profile.
      .d-flex.gap-3
        a(href='/log-in')
          button.btn.btn-primary Login
        a(href='/sign-up')
          button.btn.btn-danger Sign up