.form-width {
  max-width: 300px 
}

.posts {
  max-width: 800px;
  padding-top: 8rem;
}

@media (max-width: 991px) {
  .reponsive-flex {
    flex-direction: column;
  }
  .posts {
    padding-top: 5rem;
  }

  .spacer {
    margin-top: 3rem;
  }
}

@media (max-width: 400px) {
  .welcome-links {
    flex-direction: column;
  }
}

.card-color {
  background-color: #fafafa;
}