.form-width {
  max-width: 300px 
}

.posts {
  max-width: 800px;
  padding-top: 8rem;
}

@media (max-width: 991px) {
  .post-profile {
    flex-direction: column;
  }
  .posts {
    padding-top: 5rem;
  }
}

.card-color {
  background-color: #fafafa;
}